* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: url(/images/crypto2.jpeg) center no-repeat;

}

.header {}

.container {
  max-width: 1280px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 1.2rem;

}

img {
  width: fit-content;
}

.content {
  border-radius: 24px;
  padding: 100px 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.desc {
  padding: 0 15px;
  padding: 0 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
}

.title {
  font-size: 50px;
  color: rgb(235, 153, 0);
  border-radius: 24px;


}

.span {
  padding: 5px 10px;
  color: rgba(0, 0, 0, 0.699);
  background-color: #ffffff93;
  border-radius: 24px;
}

.info {
  padding: 4px 10px;
  color: rgb(6, 62, 88);
  background-color: #ffffffe0;
  border-radius: 8px;
  font-size: 18px;
}

.buttons {
  display: flex;
  gap: 25px;
}

.btn-one {
  background-color: #fff;
  border: none;
  border-radius: 16px;
  padding: 10px 40px;
  font-size: 17px;
  color: black;
  cursor: pointer;
  transition: all .7s ease;
}

.btn-one:hover {
  box-shadow: 0px 0px 150px 25px cyan;
  background-color: cyan;

}

.btn-two {
  background-color: #fff;
  border: none;
  border-radius: 16px;
  padding: 10px 40px;
  font-size: 17px;
  color: black;
  cursor: pointer;
  transition: all .7s ease;
}

.btn-two:hover {
  box-shadow: 0px 0px 150px 25px rgb(255, 255, 255);
  background-color: white;

}

.image {
  cursor: pointer;
  transition: all 2.5s ease;
}

.image:hover {
  transform: rotatey(360deg)
}

@media screen and (max-width: 720px) {
  img {
    width: 200px;
    height: 200px;
  }

  .title {
    font-size: 28px;
  }

  .info {
    width: 100%;
    font-size: 12px;
  }

  .btn-one {
    border-radius: 8px;
    font-size: 14px;
    padding: 4px;
  }

  .btn-two {
    border-radius: 8px;
    font-size: 14px;
    padding: 4px;
  }
}

@media screen and (max-width: 570px) {
  .content {
    flex-direction: column;
  }

  .desc {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .content {
    flex-direction: column;
  }

  h1 {
    font-size: 2rem;
  }

  img {
    width: 100px;
    height: 100px;
  }
}